---
import Main from "@/layouts/main.astro";
import { getCollection, render } from "astro:content";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const d = await getCollection("memo");

  d.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

  return d.map((entry, i) => ({
    params: { slug: entry.id },
    props: {
      entry,
      prev: d[i + 1],
      next: d[i - 1],
    },
  }));
}

type Props = {
  entry: CollectionEntry<"memo">;
  prev: CollectionEntry<"memo">;
  next: CollectionEntry<"memo">;
};

const { entry, prev, next } = Astro.props as Props;

const { Content } = await render(entry);
---

<Main entry={entry} prev={prev} next={next}>
  <Content />
</Main>
